<div class="container-fluid">

  <h1>Portfolio</h1>

  <div class="row">
    <div class="m-2">
      <form class="form-inline" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="portfolioName"></label>
          <input id="portfolioName" name="portfolioName" class="form-control" [(ngModel)]="newPortfolioName" placeholder="Enter portfolio name..." required>
        </div>
        <button type="submit" class="btn btn-dark ml-2">+</button>
      </form>
    </div>
  </div>

  <div class="row">
    <app-portfolio-view></app-portfolio-view>
  </div>

</div>
